<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Remove Member</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style/remove_member.css') }}">
</head>
<body>
    <header>
        <h1>Remove Member</h1>
        <a href="{{ url_for('web_home') }}">
            <button class="admin-btn">Back to Admin Page</button>
        </a>
    </header>

    <div class="admin-info">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <ul>
                    {% for category, message in messages %}
                        <li class="{{ category }}">{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}

        {% if users %}
            <h2>List of Members</h2>
            <form method="POST">
                <div class="members-list">
                    {% for user in users %}
                        <div class="member-item">
                            <div class="member-info">
                                <p>{{ user.full_name }}</p>
                            </div>
                            <div class="remove-action">
                                <button type="submit" name="user_id" value="{{ user.user_id }}" class="remove-btn">Remove</button>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </form>
        {% else %}
            <p>No members found to remove.</p>
        {% endif %}
    </div>

    {% if flash_messages %}
        <div class="flash-messages">
            <p>{{ flash_messages }}</p>
        </div>
    {% endif %}
</body>
</html>
