<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Library Members</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style/view_members.css') }}">
</head>
<body>
    <header id="admin-header">
        <h1>Library Members</h1>
        <div style="margin-top: 10px;">
            <a href="{{ url_for('web_home') }}">
                <button class="admin-btn">Return to Admin Page</button>
            </a>
        </div>
    </header>

    <div class="admin-info">
        <ol style="text-align: left; width: 60%; margin: 30px auto; font-size: 1.2em;">
            {% for member in members %}
                <li>{{ member.full_name }}</li>
            {% else %}
                <p style="text-align: center;">No regular users found.</p>
            {% endfor %}
        </ol>
    </div>
</body>
</html>
